.container {
  font-family: var(--main-font);
  margin: 0;
}

.main {
  font-weight: 800;
  font-size: var(--font-size-3xl);
  color: #000000;
}

.subheading {
  font-weight: 600;
  font-size: var(--font-size-sm);
  color: #000000;
}
