:root {
  --independence: #4D526B;
  --arsenic: #414145;

  --white: #FFFFFF;
  --pale-silver: #CBBEB2;
  --white-04: rgba(255, 255, 255, 0.4);

  --azure-white: #F2EEDC;

  --ghost-white: #F6F7FF;
  --ice-blue: #EDF0FF;
  --lavender: #C6CFFF;
  --vodka: #BEC4FB;
  --blue: #3656F9;
  --blue-05: rgba(54, 86, 249, 0.5);

  --purple-navy: #4D5688;

  --old-lace: #FFF2E6;
  --orange: #FEB471;
  --saffron: #FE9739;
  --ochre: #CA7221;
  --orange05: rgba(254, 180, 113, 0.5);
}
